<h1>Agregar producto</h1>

<form id="productForm">
  <label>Nombre:</label>
  <input type="text" name="title" required>

  <label>Precio:</label>
  <input type="number" name="price" required>

  <button type="submit">Agregar</button>
</form>

<h3>Eliminar producto</h3>
<form id="deleteForm">
  <label>ID del producto:</label>
  <input type="text" name="id" required>
  <button type="submit">Eliminar</button>
</form>

<h2>Productos existentes:</h2>
<ul id="product-list">
  {{#each products}}
    <li>
      <strong>{{this._id}}</strong> - {{this.title}} - ${{this.price}}
    </li>
  {{/each}}
</ul>

<!-- Carga de Socket.IO + script externo -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>

